<!-- <div class="filter-select">
  <label *ngFor="let filter of filters">
    {{ filter.value }}
    <input (change)="filterSelected($event.target.value)" [value]="filter.value" name="filter" type="radio">
  </label>
</div> -->
<img src="/assets/images/settings.png" id="settings" (click)="settings=true">
<div class="shareButtons">
  <button>
    <img src="/assets/images/share-option.png">
  </button>
  <div>
    <button (click)="share2('screenShot')">
      <img src="/assets/images/picture.png">
    </button>
    <button (click)="share2('T')">
      <img src="/assets/images/twitter-logo-silhouette.png">
    </button>
    <button (click)="share2('F')">
      <img src="/assets/images/facebook-letter-logo.png">
    </button>
    <button (click)="share2('G')">
      <img src="/assets/images/google-plus-logo-button.png">
    </button>
  </div>
</div>
<div id="pSettings" [ngStyle]="{'right': settings?'0%':'-100%'}">
  <img src="/assets/images/close.png" (click)="settings=false">
  <div>
    <div>
      <h4 style="font-weight: 500;">SETTING</h4>
      <p>
        <span>Temperature</span>
        <dir class="selectetiveSet">
          <span [ngClass]="{'active': userSettings.temperature == 'C'}" (click)="userSettings.temperature = 'C'">C</span>
          <span [ngClass]="{'active': userSettings.temperature == 'F'}" (click)="userSettings.temperature = 'F'">F</span>
        </dir>
      </p>
      <p>
        <span>Precipitation</span>
        <dir class="selectetiveSet">
          <span [ngClass]="{'active': userSettings.precipitation == 'In'}" (click)="userSettings.precipitation = 'In'">In</span>
          <span [ngClass]="{'active': userSettings.precipitation == 'mm'}" (click)="userSettings.precipitation = 'mm'">mm</span>
        </dir>
      </p>
      <p>
        <span>Time</span>
        <dir class="selectetiveSet">
          <span [ngClass]="{'active': userSettings.timeFormat == '24'}" (click)="userSettings.timeFormat = '24'">24h</span>
          <span [ngClass]="{'active': userSettings.timeFormat == '12'}" (click)="userSettings.timeFormat = '12'">12h</span>
        </dir>
      </p>
    </div>
  </div>
</div>
<!--  <button (click)="shareTW()" class="btn btn-lg btn-primary btn-block">
    Share to TW
  </button>
  <button (click)="shareGoogle()" class="btn btn-lg btn-primary btn-block">
    Share to Google
  </button> -->
<div wth-cursor-dialog id="lmap"></div>
<div id="cursor-dialog-box">
  <span *ngIf="currentFilter === 'temperature'">{{userSettings.temperature == 'C' ? mouseTemperature : Math.floor(mouseTemperature * 1.8) + 32}} &deg;{{userSettings.temperature}}</span>
  <span *ngIf="currentFilter === 'clouds'">{{mouseTemperature}} %</span>
  <span *ngIf="currentFilter === 'precipitations'">{{mouseTemperature}} {{userSettings.precipitation == 'mm' ? userSettings.precipitation : userSettings.precipitation/25.4}}</span>
</div>
<div *ngIf="loadingStatus" class="loading">Loading...</div>
<div id="pHours">
  <!--   <div class="m_days_menu">
    <ul class="m_menu">
      <li (click)="applyUpdateMap($event, !1, '0')" class="today" id="active_days">
        <a href="#">
          <span class="today">TODAY</span>
          <span class="date">{{calDate.days[0]}}</span>
        </a>
      </li>
      <li (click)="applyUpdateMap($event, !1, '1')"><a href="#">{{calDate.days[1]}}</a></li>
      <li (click)="applyUpdateMap($event, !1, '2')"><a href="#">{{calDate.days[2]}}</a></li>
      <li (click)="applyUpdateMap($event, !1, '3')"><a href="#">{{calDate.days[3]}}</a></li>
      <li (click)="applyUpdateMap($event, !1, '4')"><a href="#">{{calDate.days[4]}}</a></li>
    </ul>
  </div> -->
  <div class="m_scale_wrap">
    <!--  <div class="range_btn_wrap">
      <div class="range_btn">
        <button id="play_range">
          <i class="fa fa-play" aria-hidden="true"></i>
        </button>
        <div class="title">play</div>
      </div>
      <div class="range_btn">
        <button id="prev_range">
          <i class="fa fa-backward" aria-hidden="true"></i>
        </button>
        <div class="title">prev</div>
      </div>
      <div class="range_btn">
        <button id="next_range">
          <i class="fa fa-forward" aria-hidden="true"></i>
        </button>
        <div class="title">next</div>
      </div>
    </div> -->
    <div id="slider_range" *ngIf="currentFilter !== 'precipitations'" [ngStyle]="{'background': 'linear-gradient(to right, #ffffff 0%,#ffffff '+calDate.hours*4.3478+'%,#ffffff '+calDate.hours*4.3478+'%,#6b6b6b '+calDate.hours*4.3478+'%,#6b6b6b 100%)'}" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content ui-slider-pips" [ngStyle]="{'display': currentFilter=='precipitations'?'none':'block'}">
      <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" [style.left.%]="calDate.hours*4.3478"></span>

      <span class="ui-slider-pip ui-slider-pip-hide ui-slider-pip-10" *ngFor="let dummy of ' '.repeat(24).split(''), let x = index" [style.left.%]="x*4.3478" (click)="applyUpdateMap($event, x)">
        <span class="ui-slider-label" data-value="10">{{userSettings.timeFormat == '12' ? ((x-11) < 1 ? x + 1 : x-11) : x}}</span>
      </span>

    </div>
  </div>
</div>
<div id="pHoursTop">
  <div class="m_temp_menu">
    <ul class="m_menu">
      <li (click)="filterSelected('temperature')" [ngClass]="currentFilter=='temperature'?'active':''">
        <a href="#">
                  <span class="img_warp">
                      <span class="icon2"><img src="/assets/images/wi-thermometer.png"></span>
                  </span>
                  <span class="title">Temperature</span>
              </a>
      </li>
      <li (click)="filterSelected('precipitations')" [ngClass]="currentFilter=='precipitations'?'active':''">
        <a href="#">
                  <span class="img_warp">
                      <span class="icon2"><img src="/assets/images/wi-umbrella.png"></span>
                  </span>
                  <span class="title">Precipitations</span>
              </a>
      </li>
      <li (click)="filterSelected('clouds')" [ngClass]="currentFilter=='clouds'?'active':''">
        <a href="#">
                  <span class="img_warp">
                      <span class="icon2"><img src="/assets/images/wi-cloud.png"></span>
                  </span>
                  <span class="title">Clouds</span>
              </a>
      </li>
      <li [ngClass]="windJSLeaflet.canvasStatus?'active':''" (click)="windOffOn()">
        <a href="#">
                  <span class="img_warp">
                      <span class="icon2"><img src="/assets/images/wi-windy.png"></span>
                  </span>
                  <span class="title">Wind</span>
              </a>
      </li>
      <!--     <li>
              <a href="#">
                  <span class="img_warp uv">
                      uv
                  </span>
                  <span class="title">UV index</span>
              </a>
          </li> -->
    </ul>
  </div>
  <div class="m_uv_wrap" *ngIf="currentFilter === 'temperature'">
    <div class="m_uv_colors">
      <div class="uv_index_1 color_item">
        <div class="uv_color_wrap">
          <div class="uv_color uv_color_1" [ngStyle]="{'background-color': 'white', 'color': 'black'}">  
            <div class="count" [ngStyle]="{'padding': '6px 0'}">{{userSettings.temperature}}°</div>
          </div>
        </div>
      </div>
      <div class="uv_index_1 color_item" *ngFor="let colorItem of colorList.reverse();">
        <div class="uv_color_wrap">
          <div class="uv_color uv_color_1" [ngStyle]="{'background-color': colorItem.backColor, 'color': colorItem.textColor}">  
            <div class="count" [ngStyle]="{'padding': '6px 0'}">{{userSettings.temperature == 'C' ? colorItem.tempValue : colorItem.tempValue * 1.8 + 32 }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="calendar-wrap" *ngIf="currentFilter !== 'precipitations'">
  <img src="/assets/images/play.png" id="playMap">
  <!--<label for="calendar">{{calendarFormatted}}</label>-->
  <div class="calendar-box">
    <p-calendar [(ngModel)]="calendar" dateFormat="DD, dd -" [disabled]="calendarDisabled" [utc]="false" [showTime]="true" [hourFormat]="userSettings.timeFormat" [showOtherMonths]="true" [minDate]="calendarMinDate" [maxDate]="calendarMaxDate" [inputId]="'calendar'" [readonlyInput]="true" (onSelect)="applyUpdateMap($event, !1, !1, !0)"></p-calendar>
  </div>
  <!-- [locale]="langRU" -->
  <!-- [showTime]="calendarShowTime" -->
  <!-- <div class="update-btn-box">
    <a href="#" (click)="applyUpdateMap($event)">Update</a>
  </div> -->
</div>
<canvas style="display: none" id="temp-image"></canvas>
