html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.leaflet-control-attribution {
  display: none;
}
.leaflet-tile-container img{
  filter: brightness(60%) !important;
  opacity: 0.2 !important;
}